body{
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	color:black;
	text-align: center;
	background-color: azure;
	display: inline-block;
}

h1 {
	font-size: 40px;
	text-shadow: 2px 2px lightgray;
}

p {
	font-size: 30px;
}

#timer{
	font-size: 25px;
	position: relative;
	margin: auto;
	margin-top: 100px;
	height: 40px;
	width: 40px;
	text-align: center;
}

#countdown-number{
	color:white;
	display:inline-block;
	line-height: 40px;
}

svg {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
	stroke-dasharray: 113px;
	stroke-dashoffset: 0px;
	stroke-linecap: round;
	stroke-width: 2px;
	stroke: white;
	fill: none;
	animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}

.question{
	font-weight: 600;
}

#quiz {
	margin-left: 35%;
	text-align: center;
	width: 400px;
	height: 250px;
	display: none;
	font-size: 30px;
	border: #279;
	border-style: groove;
	
}

#score-list {
	text-align: center;
	font-size: 30px;
}

#start {
    font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}

#start:hover{
	background-color: #38a;
}

#results {
	display: none;
}
/* TODO Create a media screen setting for smaller devices */
@media (min-width: 600px)