body{
	font-family: 'Bitter', sans-serif;
	font-weight: 400;
	text-align: center;
	background-color: #add8e6;
}

h1, h2 {
	font-size: 40px;
	text-shadow: 2px 2px rgb(217, 234, 239);
}

p {
	font-size: 30px;
}

#initials {
	height: 54px;
	font-size: 23px;
}

#timer {
	display: none;
	font-size: 40px;
	padding-bottom: 1em;
	position: relative;
	margin: auto;
	margin-top: 100px;
	height: 40px;
	width: 40px;
	text-align: center;
}

#quiz {
	text-align: center;
	display: none;
	font-size: 30px;
}

#retake-quiz {
	display: none;
}

#high-scores {
	display: none;
	text-align: center;
	font-size: 30px;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

#start, .options-button, #retake-quiz {
    font-family: sans-serif;
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 1px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin: 10px;
}

#start:hover, .options-button:hover, #retake-quiz:hover{
	background-color: #38a;
}

#results {
	display: none;
	text-align: center;
}